.bg-blue{
    -fx-background-color:#4660f4;
}
.bg-white{
    -fx-background-color:#fff;
}
.h1{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.h2{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.p{
    -fx-text-fill:#565a5c;
}
.a{
    -fx-text-fill:#4660f4;
}
.a:hover{
    -fx-text-fill:#3f56dc;
    -fx-cursor: hand;
}
.btn{
    -fx-background-color: #4660f4;
    -fx-text-fill:#fff;
}
.btn:hover{
    -fx-background-color:#3f56dc;
    -fx-cursor: hand;
}
.body{
    -fx-background-color: white;
}
.form-select{
    -fx-background-color: #c8cffc;
    -fx-text-fill: #6B7073;
}

.form-select:hover{
    -fx-background-color:#8c91b0;
    -fx-cursor: hand;
}
.form TextField, .form PasswordField {
    -fx-background-color: transparent;
    -fx-prompt-text-fill:#606568;
}
.form-field{
    -fx-background-color: #c8cffc;
    -fx-background-radius: 10px;
}