*{
    -fx-blue: #4660f4;
    -fx-white-white-blue:#b5bffb;
    -fx-white-blue: #7e90f7;
    -fx-dark-blue: #3f56dc;
    -fx-white: #fff;
    -fx-gray: #565a5c;
    -fx-green:#23AA2A;
    -fx-red:#AA2323;
    -fx-dark-red:#881c1c;
    -fx-dark-green:#1c8822;
}
.body{
    -fx-background-color: white;
}
.bg-blue{
    -fx-background-color:-fx-blue;
}
.bg-white{
    -fx-background-color:-fx-white;
}
.h1{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.h2{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.p{
    -fx-text-fill:-fx-gray;
}
.a{
    -fx-text-fill:-fx-blue;
}
.a:hover{
    -fx-text-fill:-fx-dark-blue;
    -fx-cursor: hand;
}
.btn{
    -fx-text-fill:-fx-white;
}
.error-color{
    -fx-background-color: -fx-red;
}
.error-color:hover{
    -fx-background-color: -fx-dark-red;
}
.error-color-label{
    -fx-text-fill: -fx-red;
}
.confirm-color{
    -fx-background-color: -fx-green;
}
.confirm-color:hover{
    -fx-background-color: -fx-dark-green;
}
.confirm-color-label{
    -fx-text-fill: -fx-green;
}
