*{
    -fx-blue: #4660f4;
    -fx-white-white-blue:#b5bffb;
    -fx-white-blue: #7e90f7;
    -fx-dark-blue: #3f56dc;
    -fx-white: #fff;
    -fx-gray: #565a5c;
    -fx-green:#23AA2A;
    -fx-red:#AA2323;
    -fx-dark-red:#881c1c;
    -fx-dark-green:#1c8822;
}

.icon{
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-background-radius:50%;
}
.icon:hover{
       -fx-background-color: -fx-dark-blue;
}
.button-hover{
    -fx-background-color: transparent;
    
}
.button-hover:hover{
    -fx-cursor: hand;
    -fx-background-color: -fx-dark-blue;
}
.left-screen{
    -fx-background-radius: 0px 20px 20px 0px;
}
.recovery-screen{
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}
.form-field{
    -fx-background-color: transparent;
    -fx-prompt-text-fill:-fx-gray;
    -fx-text-fill:-fx-white;
    -fx-background-color: -fx-white-blue;
}