*{
    -fx-blue: #4660f4;
    -fx-white-white-blue:#b5bffb;
    -fx-white-blue: #7e90f7;
    -fx-dark-blue: #3f56dc;
    -fx-white: #fff;
    -fx-gray: #565a5c;
    -fx-green:#23AA2A;
    -fx-red:#AA2323;
    -fx-dark-red:#881c1c;
    -fx-dark-green:#1c8822;
}
.labelGrid{
    -fx-text-fill:#fff;
}
.combo-box-base {
    -fx-background-color: -fx-white-blue;
}

.combo-box-base:hover {
    -fx-cursor:hand;
}
.check:hover{
    -fx-cursor: open-hand;
    -fx-padding: 20px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

}
.check:pressed{
    -fx-cursor: closed-hand;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 5, 0, 0, 0);
}
.mw-10{
    -fx-scale-x:0.9;
}
/*.pane-content{
    -fx-background-color:-fx-dark-blue;
}*/
.pane-content:hover{
    -fx-background-color:-fx-dark-blue;
}