*{
    -fx-blue: #4660f4;
    -fx-white-white-blue:#b5bffb;
    -fx-white-blue: #7e90f7;
    -fx-dark-blue: #3f56dc;
    -fx-white: #fff;
    -fx-gray: #565a5c;
    -fx-green:#23AA2A;
    -fx-red:#AA2323;
    -fx-dark-red:#881c1c;
    -fx-dark-green:#1c8822;
}
