<!-- registration_email_template.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration Successful</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f4;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 style="color: #333">Welcome to EvaComUNA App!</h2>
      <p style="color: #666">Dear [name],</p>
      <p style="color: #666">
        We are excited to inform you that your registration on our application was
        successful. Thank you for joining us!
      </p>

      <p style="color: #666">Here are your registration details:</p>
      <ul style="color: #666">
        <li><strong>username:</strong> [username]</li>
        <li><strong>email:</strong> [email]</li>
        <!-- Add more registration details if needed -->
      </ul>

      <p style="color: #666">
        Feel free to explore our application and enjoy the features we offer. If you
        have any questions or need assistance, don't hesitate to contact us.
      </p>

      <p style="color: #666">Best regards,</p>
      <p style="color: #333"><strong>The [company_name] Team</strong></p>

      <p style="text-align: center; color: #999; font-size: 12px">
        This is an automated email. Please do not reply.
      </p>
    </div>
  </body>
</html>
