:root {
  --blue: #0d3049;
  --white-blue: #5299cd;
  --blue-text: #1b73b1;
  --main-font: "Ubuntu", sans-serif;
}
body {
  background-color: var(--blue);
  color: white;
  font-family: var(--main-font);
}
h1 {
  font-size: 40px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
.container {
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 768px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container-info {
  margin-bottom: 30px;
}
.container-info h1, .container-info span{
    text-transform: uppercase;  
}
.container-info span {
  color: var(--blue-text);
}
img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 100px;
    align-items: center;
  }
}
.icon {
  display: flex;
  justify-content: center;
  height: 300px;
}
.button {
  padding: 10px 30px;
  background-color: var(--blue-text);
  border: none;
  border-radius: 20px;
  color: white;
  font-family: var(--main-font);
}
.button:hover{
    cursor: pointer;
    background-color: var(--white-blue);
}
